
/* Use this file to override style.css */

.dl-horizontal dt{
    width:80px;
}

.dl-horizontal dd{
    margin-left:90px;
}

header{
    margin-bottom: 0px;
}

#pages{
    position: relative;
    top:-20px;
}

hgroup h1{
    width:90%;
}

hgroup{
    margin-bottom: 20px;
}

.ru hgroup h1{
    font-size:34px;
}

.ru dt, .ru dd, .ru li, .ru a{
    font-size: 12px;
}

.ru dl.events dd{
    margin-left:20px;
}

textarea.message-input{
    margin-bottom: 0px;
    position: relative;
    top:-10px;
    font-size: 14px;
}

.ru h2{
    font-size: 16px;
}

div#app-contact input, div#app-contact textarea{
    /*display:block;*/
    /*width:200px;*/
}

/**********PopUp Newsletter**********/

#zinojums{
    width:800px;
    background:url(../img/bg/patterns/brushed_alu.png) repeat;
    padding: 20px;
    /*height: 300px;*/
}

.modal-zinojums{
    left:33%;
    background-color: transparent;
}

.subscribe-popup {
    background-color:#000000;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

a.b-nonemt{
    text-decoration:none;
}

li.muted-img img{
    opacity:0.4;
    filter:alpha(opacity=40);
}

/********Lang Select Block***********/
#lang-switcher{
    border:none;
    margin-left:-40px;
    margin-bottom: 0px;
}

